{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Reset Sent</title>
    <link rel="stylesheet" href="{% static 'health_check/css/password_reset_done.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Check your Email</h2>
        <p>If an account with that email exists, a reset is sent to your inbox.</p>
        <div class="signup-text">
            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </div>
</body>
</html>